.icons-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon-container {
  max-width: 200px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon-img {
  width: 65px;
  height: 65px;
}

.icon-description {
  padding-left: 10px;
}
