.header {
  padding: 20px 40px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  color: black;
}

.header-text {
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
}

.main:visited {
  color: black !important;
  text-decoration: none;
}

.main:hover {
  color: black !important;
  text-decoration: none;
}

.header-text.sub {
  color: red;
  text-decoration: none;
}

.header-description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  font-weight: lighter;
  max-width: 130px;
  font-size: 11px;
}

@media screen and (max-width: 500px) {
  .header-description,
  .phone {
    visibility: hidden;
    display: none;
  }

  .header {
    padding: 0;
  }

  .logo {
    justify-content: center;
    align-items: center;
  }
}

.phone {
  color: red;
}

.phone-number {
  font-weight: bolder;
  font-size: 20px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.phone-number:hover {
  text-decoration: underline;
}

.phone-number:active {
  color: black;
}
